<footer class="fixed-bottom mt-3">
    <div class="f-info">
        <div class="f-info-social">
            <a class="options"><i class="fa-brands fa-square-facebook"></i></a>
            <a class="options"><i class="fa-brands fa-linkedin"></i></a>
            <a class="options"><i class="fa-brands fa-square-twitter"></i></a>
        </div>

        <div class="f-details">&copy; WonderLand Private Limited</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy .</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>